<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Employee Management</title>
        <link th:href="@{css/general_template.css}" rel="stylesheet">
    </head>
<body>
    <div align="center">
        <br>
        <h2>Employee Management - Main Page </h2>

        <a class="link_employee_registration" href="show/employee-registration">
            Show Employee Registration Page
        </a>

        <table border="1" cellpadding="3">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Hire Date</th>
                    <th>Salary</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employeeList}">
                    <td th:text = "${employee.employeeID}">Employee ID</td>
                    <td th:text = "${employee.firstName}">First Name</td>
                    <td th:text = "${employee.lastName}">Last Name</td>
                    <td th:text = "${employee.hireDate}">Hire Date</td>
                    <td th:text = "${employee.salary}">Salary</td>
                    <td>
                        <a th:href="@{'show/employee-editing/' + ${employee.employeeID}}">Edit</a>
                        <a th:href="@{'delete/employee/' + ${employee.employeeID}}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>